ul {
    -webkit-box-shadow: 0px 1px 6px 0px #000000;
    box-shadow: 0px 1px 6px 0px #000000;
}

input {
    -webkit-box-shadow: 0px 1px 6px 0px #000000;
    box-shadow: 0px 1px 6px 0px #000000;
}

li:hover {
    background-color: #3E6D9C;
    cursor: pointer;
    color: antiquewhite;
}